@media all {
    .Login {
        color: var(--darkBlue);
        padding: 15px;
        border-radius: 15px;

        margin-left: auto;
        margin-right: auto;
        max-width: 320px;
    }

    .bg{
        background-color: rgba(77, 129, 128, 0.51);
    }

    .btn{
        background-color: var(--darkBlue);
        color: var(--vibrantGreen);
        padding: 15px;
        border-radius: 15px;
        margin: auto;
        margin-top: 15px;
    }

    .login-form {
        width: 100%;
        max-width: 330px;
        padding: 30px;

        background-color: var(--textblue);

        border: 3px solid var(--darkBlue);
        border-radius: 25px;

        color: var(--darkBlue);
        text-align: center;
        vertical-align: center;
        margin: auto;
    }

    .option{
        background-color: var(--paleblue);

        border: 3px solid var(--darkBlue);

        color: var(--darkBlue);

        justify-content: center;
        align-items: stretch;
        padding: 30px;
        margin: 15px;
    }

    .input{
        width: 1000px;
    }

    .inputfield{
        background-color: var(--darkGreen);
        color: var(--paleblue);
        text-align: center;
        border-radius: 15px;
    }

    .field{
        padding-top: 20%;
        padding-right: 30%;
        padding-left: 30%;
        color: var(--darkBlue);
    }

    .tab-content {
        padding: 10px;
    }

    .error {
        color: var(--textwrong);
    }


    #LoginTab {
    }
}